<div class="full-screen-container">
  <div class="register-container">
    <div style="display: flex; justify-content: center;"><img src="assets/logos/logoblack.png" alt="Logo Tokino" style="height: 38px; margin-bottom: 15px;"/></div>
    <h1>Cadastro</h1>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="formData.name"
          required
        />
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="formData.email"
          required
        />
      </div>

      <div class="form-group">
        <label for="matricula">Slug</label>
        <input
          type="text"
          id="matricula"
          name="matricula"
          [(ngModel)]="formData.slug"
          required
        />
      </div>

      <button
        type="submit"
        class="primary-button"
        [disabled]="!registerForm.valid"
      >
        Cadastrar
      </button>
    </form>
  </div>
</div>
