<div class="container">
  <div class="login-box">
    <div class="logo">
      <img src="assets/logos/logoblack.png" alt="Logo Tokino" />
    </div>
    <div class="help-link">
      <a href="#">Precisa de ajuda?</a>
    </div>
    <h2>Bem-vindo novamente!</h2>
    <p>Insira as suas informações para prosseguir com a autenticação no sistema</p>
    <form>
      <div class="form-group">
        <input type="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Senha" />
      </div>
      <button class="login-button" (click)="onSubmit()">Entrar</button>
    </form>
    <div class="divider">ou</div>
    <div class="action-buttons">
      <button class="secondary-button"(click)="redirectToProfessor()" >Sou professor</button>
      <button class="secondary-button" (click)="redirectToStudent()">Cadastrar</button>
    </div>
    <footer>&copy; 2024 Tokino</footer>
  </div>
  <div class="image-section">
    <img src="assets/png/login.png" alt="Background" />
  </div>
</div>
