<div class="w-64 h-screen bg-gray-800 text-white hidden md:block">
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="assets/logos/logoblack.png" alt="Logo" class="logo" />
    </div>
    <nav class="sidebar-menu">
      <ul>
        <li><a href="#">Turmas</a></li>
        <li><a href="#">Buscar</a></li>
        <li><a href="#">Relatórios</a></li>
        <li><a href="#">Configurações</a></li>
      </ul>
    </nav>
    <div class="logout">
      <a (click)="onSubmit()">Sair</a>
    </div>
  </aside>
</div>
