<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <main class="main-content">
    <header class="header">
      <div class="user-info">
        <span>Olá, {{ userName }}</span>
      </div>
      <div class="user-actions">
        <span>+</span>
        <img src="assets/png/user-avatar.png" alt="User Avatar" class="user-avatar" />
      </div>
    </header>

    <section class="schedule" *ngIf="lectures.length > 0; else noLectures">
      <h2>Agenda de Hoje</h2>
      <p>{{ lectures.length }} aulas programadas</p>

      <div class="class-box current-class" style="background-color: #c2d6a8;" *ngFor="let lecture of lectures">
        <div class="class-info">
          <p>{{ lecture.lectureName }}</p>
          <span>{{ lecture.owner }}</span>
        </div>
       <!-- <div class="students">
          <button (click)="deleteLecture(lecture.id)">Deletar</button>
        </div> -->
      </div>
    </section>

    <ng-template #noLectures>
      <p>Nenhuma aula programada para hoje.</p>
    </ng-template>
  </main>
</div>
